/*
  Name: Kartik Pandit
  Student ID: 100935721
  Assignment-3(4)
  Date: 24-02-2024
*/

/* General styling for the entire document */
body {
  background-color: #fff;
  color: #333;
  margin: 0;
  font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
}

/* Styling for images */
img {
  max-width: 100px;
  gap: 1px;
  margin: auto;
  position: relative;
  display: block;
}

/* Styling for a class 'logo' */
.logo {
  font-size: 200%;
  padding: 50px 20px;
  margin: 0 auto;
  max-width: 980px;
}

/* Styling for a grid layout with a class 'grid' */
.grid {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 980px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}

/* Styling for the navigation bar */
nav {
  background-color: #000;
  padding: .5em;
  top: 0;
  position: sticky;
}

/* Styling for the navigation bar's unordered list */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

/* Styling for navigation links */
nav a {
  color: #fff;
  text-decoration: none;
  padding: .5em 1em;
}

/* Styling for a class 'photos' */
.photos {
  width: 100px;
  height: 100px;
  position: relative;
  list-style: none;
  padding: 0;
  display: grid;
  gap: 1px;
  grid-template-columns: 2fr 2fr;
}

/* Styling for a class 'feature' */
.feature {
  width: 200px;
  height: 200px;
  float: left;
  margin: 0 20px 20px 0;
}
